flows_raspberrypi.json
[{"id":"a81255.18b2f5a8","type":"tab","label":"Flow 2"},{"id":"e3203d47.b1b4c8","type":"tab","label":"Flow 3"},{"id":"f50614da.41cf","type":"tab","label":"Flow 4"},{"id":"ad2fb476.866cf","type":"tab","label":"Flow 5"},{"id":"8bb25a48.7492a","type":"tab","label":"Flow 6"},{"id":"cab43969.cece5","type":"tab","label":"Flow 7"},{"id":"a58e098.b0269f8","type":"tab","label":"Flow 8"},{"id":"597084b1.411d9c","type":"tab","label":"Flow 9"},{"id":"ed3ee623.43b8d8","type":"tab","label":"Flow 10"},{"id":"f806e626.adc1d8","type":"inject","z":"a81255.18b2f5a8","name":"Start Flow","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":161,"y":185.66702270507812,"wires":[["cf073d0b.933f38","3b29e89e.a82038"]]},{"id":"db2fd7df.d52498","type":"microPi","z":"a81255.18b2f5a8","name":"microPi","filename":"/home/pi/audio/demo.wav","domain":"http://localhost:1880","rate":"16000","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"1","silence":"2","debug":"true","mode":"","x":581.6670227050781,"y":175.01751708984375,"wires":[["bd7b7e53.c593e8"],["b49c2516.d359e"],[]]},{"id":"cf073d0b.933f38","type":"change","z":"a81255.18b2f5a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":367.611328125,"y":175.93057250976562,"wires":[["db2fd7df.d52498"]]},{"id":"bd7b7e53.c593e8","type":"switch","z":"a81255.18b2f5a8","name":"Silence?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"silence","vt":"str"}],"checkall":"true","outputs":1,"x":855.7156677246094,"y":162.04168701171875,"wires":[["6a2dd860.e87dc"]]},{"id":"6a2dd860.e87dc","type":"change","z":"a81255.18b2f5a8","name":"Turn off the mic","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":563.7156677246094,"y":277.0417022705078,"wires":[["db2fd7df.d52498","fbac40b5.b2156"]]},{"id":"b49c2516.d359e","type":"link out","z":"a81255.18b2f5a8","name":"","links":["2dfb3a8b.62fd56","b4393e62.34d688"],"x":692.66357421875,"y":174.7882080078125,"wires":[]},{"id":"3b29e89e.a82038","type":"link out","z":"a81255.18b2f5a8","name":"","links":["3c3d4d9f.815e72"],"x":293.5792541503906,"y":212.50189208984375,"wires":[]},{"id":"fbac40b5.b2156","type":"link out","z":"a81255.18b2f5a8","name":"","links":["3c3d4d9f.815e72"],"x":706.5764465332031,"y":276.49623107910156,"wires":[]},{"id":"714f50ca.cf0ee8","type":"inject","z":"a81255.18b2f5a8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"x":406.66700744628906,"y":115.00006103515625,"wires":[["db2fd7df.d52498"]]},{"id":"69250ec4.ba3ad","type":"comment","z":"a81255.18b2f5a8","name":"Listen to the input","info":"","x":128,"y":41,"wires":[]},{"id":"9894e6f0.93d028","type":"watson-speech-to-text","z":"e3203d47.b1b4c8","name":"speech2text","continuous":true,"speakerlabels":false,"lang":"en-UK","langhidden":"en-UK","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"jwLFFyBJUcB3","x":172,"y":137,"wires":[["174377a5.c87e38"]]},{"id":"174377a5.c87e38","type":"change","z":"e3203d47.b1b4c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":373.8334045410156,"y":137.33331298828125,"wires":[["3db5e2db.ac1a4e"]]},{"id":"2dfb3a8b.62fd56","type":"link in","z":"e3203d47.b1b4c8","name":"Listen","links":["b49c2516.d359e"],"x":36.947998046875,"y":137.59375,"wires":[["9894e6f0.93d028"]]},{"id":"3db5e2db.ac1a4e","type":"switch","z":"e3203d47.b1b4c8","name":"Special Command?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"ready","vt":"str"},{"t":"cont","v":"start","vt":"str"},{"t":"else"}],"checkall":"false","outputs":3,"x":579.9410400390625,"y":137.0521240234375,"wires":[["d90e82e9.e6b0b"],["2db1d3e2.d23cec"],["a767e1b4.ff1578"]]},{"id":"d90e82e9.e6b0b","type":"link out","z":"e3203d47.b1b4c8","name":"","links":["973b95ce.bbaf4"],"x":750.0002136230469,"y":91.99990844726562,"wires":[]},{"id":"2db1d3e2.d23cec","type":"link out","z":"e3203d47.b1b4c8","name":"","links":["5e847765.79be","c9b8a402.f50ed"],"x":751.7813415527344,"y":136.36636352539062,"wires":[]},{"id":"a767e1b4.ff1578","type":"link out","z":"e3203d47.b1b4c8","name":"","links":["b2cb1f6.e228fe","c9b8a402.f50ed"],"x":751.9515075683594,"y":179.63540649414062,"wires":[]},{"id":"4512c6bc.12b24","type":"comment","z":"e3203d47.b1b4c8","name":"Convert speech to text and decode","info":"","x":165,"y":54,"wires":[]},{"id":"89bf9dcd.0988b","type":"link in","z":"f50614da.41cf","name":"Speak it","links":["1e8f2aa8.dc403d","31987f90.9201b8"],"x":60,"y":123,"wires":[["27b62098.080d88"]]},{"id":"27b62098.080d88","type":"watson-text-to-speech","z":"f50614da.41cf","name":"","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"j5xlUN7HC1mX","x":207,"y":123.00006103515625,"wires":[["f1b6fc90.d9ff28"]]},{"id":"f1b6fc90.d9ff28","type":"change","z":"f50614da.41cf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"speech","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":415,"y":122.00006103515625,"wires":[["a1d8e4c0.8c3eb8","8d570551.ba1c28"]]},{"id":"a1d8e4c0.8c3eb8","type":"link out","z":"f50614da.41cf","name":"","links":["3c3d4d9f.815e72"],"x":570.951416015625,"y":108.08340454101562,"wires":[]},{"id":"8d570551.ba1c28","type":"speakerpi-output","z":"f50614da.41cf","choose":"filebased","filename":"","channels":"1","bitdepth":"8","samplerate":"22050","name":"Send to speaker","x":638,"y":156,"wires":[]},{"id":"f71dc686.f79ea8","type":"comment","z":"f50614da.41cf","name":"Convert text to speech and output","info":"","x":182,"y":61,"wires":[]},{"id":"973b95ce.bbaf4","type":"link in","z":"ad2fb476.866cf","name":"Take Photo","links":["d90e82e9.e6b0b"],"x":26,"y":147,"wires":[["6f1d0a5d.a27d9c"]]},{"id":"6f1d0a5d.a27d9c","type":"camerapi-takephoto","z":"ad2fb476.866cf","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"","x":181.08148193359375,"y":147.28167724609375,"wires":[["bef886f3.44d33"]]},{"id":"bef886f3.44d33","type":"function","z":"ad2fb476.866cf","name":"Use the custom classifier","func":"msg.params=[];\nmsg.params[\"classifier_ids\"]=\"StockPots_2027870576\";\nreturn msg;","outputs":1,"noerr":0,"x":429.1335144042969,"y":147.7642822265625,"wires":[["fed3b48b.7584d8"]]},{"id":"fed3b48b.7584d8","type":"visual-recognition-v3","z":"ad2fb476.866cf","name":"","apikey":"c1af34e1297c3801c2914730bce9943053bc42c1","image-feature":"classifyImage","lang":"en","x":645.0779724121094,"y":147.48651123046875,"wires":[["9389f660.a96e1"]]},{"id":"9389f660.a96e1","type":"switch","z":"ad2fb476.866cf","name":"","property":"result.images[0].classifiers[0]","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":801.005615234375,"y":146.43759155273438,"wires":[["e9b0fa6f.afa3d"],["5a06afe.8b585d"]]},{"id":"e9b0fa6f.afa3d","type":"change","z":"ad2fb476.866cf","name":"Didnt recognise","rules":[{"t":"set","p":"payload","pt":"msg","to":"I'm sorry, I didnt recognise that.  Try again, say READY when you want me to look","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":451.99713134765625,"y":89.15914916992188,"wires":[["31987f90.9201b8"]]},{"id":"5a06afe.8b585d","type":"function","z":"ad2fb476.866cf","name":"Set the identified object into the payload","func":"msg.payload = msg.result.images[0].classifiers[0].classes[0].class;\nreturn msg;","outputs":1,"noerr":0,"x":530.1334838867188,"y":217.76425170898438,"wires":[["1d69518e.eea976"]]},{"id":"31987f90.9201b8","type":"link out","z":"ad2fb476.866cf","name":"","links":["89bf9dcd.0988b"],"x":605.9034423828125,"y":89.22158813476562,"wires":[]},{"id":"1d69518e.eea976","type":"link out","z":"ad2fb476.866cf","name":"","links":["4f3daa9f.ab4e94","b5ceb9d4.08cf3"],"x":745.1334838867188,"y":217.76437377929688,"wires":[]},{"id":"4567dbe6.6e98c4","type":"comment","z":"ad2fb476.866cf","name":"Take the photo and to to visual recognition","info":"","x":180,"y":48,"wires":[]},{"id":"b2cb1f6.e228fe","type":"link in","z":"8bb25a48.7492a","name":"Converse","links":["3250866e.210942","a767e1b4.ff1578","f737fa95.c88b"],"x":40,"y":218,"wires":[["ab751972.04df3"]]},{"id":"ab751972.04df3","type":"function","z":"8bb25a48.7492a","name":"restore context","func":"msg.params = {};\nmsg.params.context = global.get('CurrContext');\nreturn msg;","outputs":1,"noerr":0,"x":153.158447265625,"y":218.42984676361084,"wires":[["6dc2a674.632058"]]},{"id":"6dc2a674.632058","type":"watson-conversation-v1","z":"8bb25a48.7492a","name":"Converse","workspaceid":"3c5b4b7b-124b-4abc-8509-61f6791ae4db","multiuser":false,"context":true,"x":335.8923797607422,"y":217.5208740234375,"wires":[["b42581c.5c6b78"]]},{"id":"b42581c.5c6b78","type":"function","z":"8bb25a48.7492a","name":"save context","func":"global.set('CurrContext',msg.payload.context);\nreturn msg;","outputs":1,"noerr":0,"x":494.1583709716797,"y":218.42984676361084,"wires":[["ca34202b.46cf18"]]},{"id":"ca34202b.46cf18","type":"change","z":"8bb25a48.7492a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670.9547729492188,"y":218.40969848632812,"wires":[["1e8f2aa8.dc403d"]]},{"id":"1e8f2aa8.dc403d","type":"link out","z":"8bb25a48.7492a","name":"","links":["89bf9dcd.0988b"],"x":795.0590209960938,"y":217.52078247070312,"wires":[]},{"id":"50947aa0.db77f4","type":"comment","z":"8bb25a48.7492a","name":"Continue the conversation","info":"","x":134,"y":155,"wires":[]},{"id":"4f3daa9f.ab4e94","type":"link in","z":"cab43969.cece5","name":"Classify Product","links":["1d69518e.eea976"],"x":153.00003051757812,"y":151.99999237060547,"wires":[["1cc618d1.43710f"]]},{"id":"1cc618d1.43710f","type":"function","z":"cab43969.cece5","name":"Get context","func":"var temp = global.get(\"CurrContext\");\ntemp.Product = msg.payload;\nglobal.set(\"CurrContext\",temp);\nreturn msg;","outputs":1,"noerr":0,"x":278.9479522705078,"y":151.14250946044922,"wires":[["75f704f7.330444"]]},{"id":"75f704f7.330444","type":"change","z":"cab43969.cece5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"What is this product?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":454.0994567871094,"y":150.63634490966797,"wires":[["3250866e.210942"]]},{"id":"3250866e.210942","type":"link out","z":"cab43969.cece5","name":"","links":["b2cb1f6.e228fe"],"x":580.8636779785156,"y":149.91191864013672,"wires":[]},{"id":"35a7dd15.f025aa","type":"comment","z":"cab43969.cece5","name":"Continue conversation to ask about the product","info":"","x":215,"y":88,"wires":[]},{"id":"5e847765.79be","type":"link in","z":"a58e098.b0269f8","name":"Restart conversation","links":["2db1d3e2.d23cec"],"x":72,"y":139,"wires":[["cead6d9e.a99a3"]]},{"id":"cead6d9e.a99a3","type":"change","z":"a58e098.b0269f8","name":"","rules":[{"t":"set","p":"CurrContext","pt":"flow","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":240.99998474121094,"y":139.51422775678384,"wires":[["fc7420dd.ac0648"]]},{"id":"fc7420dd.ac0648","type":"change","z":"a58e098.b0269f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hello","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":456.2301025390625,"y":138.67047119140625,"wires":[["f737fa95.c88b"]]},{"id":"f737fa95.c88b","type":"link out","z":"a58e098.b0269f8","name":"","links":["b2cb1f6.e228fe"],"x":597.9999389648438,"y":138.94317626953125,"wires":[]},{"id":"a2e12f0a.4c1a18","type":"comment","z":"a58e098.b0269f8","name":"Restarts the conversation if you say 'Start Again'","info":"","x":232,"y":56,"wires":[]},{"id":"3c3d4d9f.815e72","type":"link in","z":"597084b1.411d9c","name":"Need Input","links":["3b29e89e.a82038","a1d8e4c0.8c3eb8","fbac40b5.b2156"],"x":92,"y":162,"wires":[["ef574ec.009193","a267a405.b20158"]]},{"id":"ef574ec.009193","type":"change","z":"597084b1.411d9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":254.72438049316406,"y":134.613525390625,"wires":[["d17ab1d7.a9d97"]]},{"id":"a267a405.b20158","type":"change","z":"597084b1.411d9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":254.2301025390625,"y":192.676025390625,"wires":[["2c55b14e.0eaafe"]]},{"id":"d17ab1d7.a9d97","type":"rpi-gpio out","z":"597084b1.411d9c","name":"","pin":"11","set":true,"level":"0","out":"out","x":517.0028076171875,"y":193.4344482421875,"wires":[]},{"id":"2c55b14e.0eaafe","type":"rpi-gpio out","z":"597084b1.411d9c","name":"","pin":"15","set":"","level":"0","out":"out","x":515.9999694824219,"y":245.4288330078125,"wires":[]},{"id":"f9798ed8.620868","type":"change","z":"597084b1.411d9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":254.7508544921875,"y":256.3905334472656,"wires":[["d17ab1d7.a9d97"]]},{"id":"23f60fc6.850dc","type":"change","z":"597084b1.411d9c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":254.256591796875,"y":304.4530334472656,"wires":[["2c55b14e.0eaafe"]]},{"id":"b4393e62.34d688","type":"link in","z":"597084b1.411d9c","name":"Working","links":["b49c2516.d359e"],"x":94.0264892578125,"y":284.7769775390625,"wires":[["f9798ed8.620868","23f60fc6.850dc"]]},{"id":"81a463d4.5adc5","type":"comment","z":"597084b1.411d9c","name":"Changes the colour of TJBot RGB LED","info":"","x":214,"y":52,"wires":[]},{"id":"c9b8a402.f50ed","type":"link in","z":"ed3ee623.43b8d8","name":"Wave","links":["2db1d3e2.d23cec","3cd1b6d1.e16e22","5bd7994c.ca2f58","a767e1b4.ff1578"],"x":107,"y":140,"wires":[["7b8c42b4.05eeec"]]},{"id":"7b8c42b4.05eeec","type":"change","z":"ed3ee623.43b8d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":386.9999542236328,"y":139.6632080078125,"wires":[["b27f5a9a.7d4788","7ef4e811.8cf7f8"]]},{"id":"b27f5a9a.7d4788","type":"rpi-gpio out","z":"ed3ee623.43b8d8","name":"","pin":"32","set":"","level":"0","out":"pwm","x":609,"y":181,"wires":[]},{"id":"7ef4e811.8cf7f8","type":"delay","z":"ed3ee623.43b8d8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":199,"y":180,"wires":[["9e87dc1c.fa0ef8"]]},{"id":"9e87dc1c.fa0ef8","type":"change","z":"ed3ee623.43b8d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":386.99998474121094,"y":179,"wires":[["b27f5a9a.7d4788","28daeff5.4e9878"]]},{"id":"28daeff5.4e9878","type":"change","z":"ed3ee623.43b8d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"15","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":384.8957977294922,"y":223.3333740234375,"wires":[["7a8c8077.b253","b27f5a9a.7d4788"]]},{"id":"9875f56c.d9742","type":"change","z":"ed3ee623.43b8d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":388.8958282470703,"y":270.670166015625,"wires":[["b27f5a9a.7d4788"]]},{"id":"7a8c8077.b253","type":"delay","z":"ed3ee623.43b8d8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":197.8958282470703,"y":245.3333740234375,"wires":[["9875f56c.d9742"]]},{"id":"a3bc3e1a.a205c","type":"comment","z":"ed3ee623.43b8d8","name":"Wave","info":"","x":146,"y":60,"wires":[]}]